<% provide(:title, 'All users') %>
<h1>All users</h1>

<%= will_paginate %>

<ul class="users">
  <% @users.each do |user| %>
    <li>
      <%= render user %>
      <%= render 'follow_form', user: user %>
    </li>
  <% end %>
</ul>

<%= will_paginate %>
