<%= link_to gravatar_for(current_user, 50), current_user %>
<h1><%= current_user.name %></h1>
<span><%= link_to current_user.username_handle, current_user %></span>
<span><%= pluralize(current_user.microposts.count, "post") %></span>
