<% if @microposts.any? %>
  <h3>Found <%= pluralize(@microposts.count, "post") %></h3>
  <ol class="microposts">
    <%= render @microposts %>
  </ol>
  <%= will_paginate @microposts %>
<% else %>
  <h3>Nothing found</h3>
<% end %>
